body {
    font-family: Arial;
    max-width: 100vw;
    height: 100vh;

}

.header {
    height: 40px;
    width: 100%;
}

.header__row {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-weight: bold;
}

.button {
    width: 110px;
    height: 38px;
    border-radius: 25px;
    font-weight: bold;
    background: #5222D0;
    color: white;
    padding: 5px;
}

.e-button {
    width: 135px;
    height: 38px;
    border-radius: 25px;
    font-weight: bold;
    background: #5222D0;
    color: white;
    padding: 5px;
    margin-top: 10px;
}

.content {
    padding: 10px;
}

.title {
    margin-top: 50px;
    height: 70px;
    padding: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    padding: 10px;
    margin-bottom: 20px;
}

.column__top {
    margin-bottom: 50px;
}

.column__img {
    max-width: 300px;
}

.column__title {
    font-weight: bold;
}


.column-subscribe {
    background-color: #EC615B;
    padding: 10px 0px 10px 10px;
    font-weight: bold;
    color: white;
}

.bottom-nav__body {
    display: flex;
    justify-content: space-between;
}

.bottom-nav {
    max-width: 450px;
    padding: 10px;
}